header {
    width: 100%;
    height: 60px;
    background-color: #1E3A5F;
    position: fixed;
    left: 0;
    top: 0;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #12243F;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    line-height: 50px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    gap: 10px;
    padding: 20px;
}

.grid-container section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: white;
    background: #1565c0;
    border-radius: 10px;
}


