@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.slogan {
    color: white;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	margin-top: 110px;
	margin-left: 0px;
	margin-right: 25px;

}
h1{
    color: #87CEEB;
    font-size: 33px;
    font-weight: bolder;
	font-family: 'Poppins', sans-serif;
	margin-top: 6px;
	margin-left: 15px;
	padding: 0px;
}

.h1_primera{
	color: #00e8ff;
}

.h1_segunda{
	color: #0092fe;
}

/* Barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 0px 0;
    text-align: right;
    z-index: 1000;
	padding-right: 150px;
	height: 69px;

}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: background 1s;
	font-family: 'Aptos','Arial';
	font-size: 20px;
	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;	

}

.navbar a:hover {
    background-color: #555;
}

.imagen_pie{
	margin-left: 25px;
	color: white;
	font-family: 'Aptos','Arial';
	font-size: 15px;	
}
.contacto_1{
	color: white;
	text-align: left;
	font-family: 'Aptos','Arial';
	margin-left: 200px;
	font-size: 20px;
	margin-top: 52px;
	
}
.pie_pagina{
	background-color: #003366;
	height: 230px;
	width: 100vw;
	display: flex;
	margin-top: 60px;
}
.subtitulo_left{
	text-align: left;
	margin-bottom: 10px;
    color: #003366;
    font-size: 25px;
    font-weight: bolder;
	font-family: 'Aptos','Arial';
}
.texto_1{
	color: grey;
	text-align: justify;
	font-family: 'Aptos','Arial';
	margin: 10px;
	font-size: 20px;
}
.subtitulo{
	text-align: right;
	margin: 20px;
    color: #003366;
    font-size: 25px;
    font-weight: bolder;
	font-family: 'Aptos','Arial';
}
.mision_txt{
	/*background-color: yellow;*/
	height: 430px;
	width: 620px;
	margin-top: 20px;
	margin-left:20px;

}
.mision_img{
	/*background-color: yellow;*/
	height: 450px;
	width: 450px;
	padding: 0px;
	margin-top: 0px;
	margin-left: 60px;
}
.mision-vision{
	display: flex;
	/*background-color: black;*/
	height: 480px;
	width:1200px;
	margin: auto;
}

.box{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.flex{
	display: flex;
	padding: 0px;
	box-sizing:border-box;
	margin: auto;
}



.correo{
    color: #003366;
    font-size: 25px;
    font-weight: bolder;
	font-family: 'Aptos','Arial';

}

.inicio{

	height: 40px;
	width: 1200px;
	background: white;
	margin: auto;
	text-align: center;
	padding: 0px;
	box-sizing:border-box;	
}
.cuadro_banner_right{
	text-align: center;
	height: 450px;
	width: 950px;
	background: white;
	margin-top: 15px;
	margin-right:15px;
	text-align: left;
	padding: 0px;
	box-sizing:border-box;
	/*border: 1px solid black;*/
	
}
.cuadro_banner_left {

	text-align: center;
	height: 450px;
	width: 290px;
	background: #003366;
	margin: 0;
	text-align: left;
	padding: 0px;
	box-sizing:border-box;
	/*border: 1px solid black;*/
	margin-left:30px;
	
	
}
.banners{
	display: flex;
	text-align: center;
	height: 480px;
	width: 1200px;
	background: #003366;
	margin: auto;
	text-align: top;
	padding: 0px;
	box-sizing:border-box;	
	margin-top: 80px;
}

.header{
	
	text-align: center;
	height: 0px;
	width: 1200px;
	background: Withe;
	margin: auto;
	text-align: center;
	padding: 0px;
	box-sizing:border-box;
	
}
